*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}


h2 {
    text-align: center;
    /* margin-bottom: 20px; */
    color: #4a4a4a;
}

.container-fluid {
    /* background-color: #ffffff; */
    border-radius: 12px;
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    width: 100%;
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004494;
}
.quote{
    color: #ffffff;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

img{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
} 

*{
    margin:0;
    padding:0;
  }
  
  .container{  padding-top: 20px;
    padding-bottom: 20px;}
  body{
    background-color: #111845;
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/5/697/desktop-wallpaper-7680x4320-minimal-morning-landscape-backgrounds-and-minimalist.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .background-img{
    margin: 5% auto;
    padding:20px;
    /* border: 1px solid #2a3cad; */
    border-radius: 4px;
    /* box-shadow: 0px 0px 5px #2a3cad; */
    position: relative;
  }
  
  .content h2{ font-size:19px;}
  
  .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
  }
  
  .box:before{
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
  }
  
  .box:hover span:before{
    animation-play-state: paused;
    cursor: pointer;
    /* left:-50%; */
    /* transform: skewX(-5deg); */
  }

.box:hover{
    box-shadow: 0px 0px 10px #0fd8d8;
}  
  
  .box .content{
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border:1px solid #f0a591;
    padding:10px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);
    
  }
  
  .box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
  }
  
  .box span:nth-child(1)
  {
    transform:rotate(0deg);
  }
  
  .box span:nth-child(2)
  {
    transform:rotate(90deg);
  }
  
  .box span:nth-child(3)
  {
    transform:rotate(180deg);
  }
  
  .box span:nth-child(4)
  {
    transform:rotate(270deg);
  }
  
  .box span:before
  {
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
    50.1%
    {
      transform:scaleX(1);
    transform-origin: right;
      
    }
    
    100%
    {
      transform:scaleX(0);
    transform-origin: right;
      
    }
 } 